/* Fonts */
@import url(//fonts.googleapis.com/css?family=open+sans);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

/* Main */
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'open sans', 'sans-serif';
	font-size: 1em;
	color: #555;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 15px;
	margin-top: 25px;
	color: #333;
}
a {
	color: #3498db;
	text-decoration: none;
}
p {
	margin: 10px 0;
}
/* Container */
.container {
	margin: 15px auto;
	width: 1000px;
}

/* Grid */
.grid:before,
.grid:after {
	display: table;
	content: "";
}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
	float: left;
	margin-bottom: 15px;
}
.grid-12 {
	width: 100%;
}
.grid-11 {
	width: 91.66666667%;
}
.grid-10 {
	width: 83.33333333%;
}
.grid-9 {
	width: 75%;
}
.grid-8 {
	width: 66.66666667%;
}
.grid-7 {
	width: 58.33333333%;
}
.grid-6 {
	width: 50%;
}
.grid-5 {
	width: 41.66666667%;
}
.grid-4 {
	width: 33.33333333%;
}
.grid-3 {
	width: 25%;
}
.grid-2 {
	width: 16.66666667%;
}
.grid-1 {
	width: 8.33333333%;
}

/* Button */
.button {
	color: #444;
	padding: 5px 7px;
	margin-bottom: 10px;
	background: #eee;
	border: #999 solid 1px;
	border-radius: 2px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	font-size: 1em;
}
input[type="submit"],
input[type="button"],
button[type="submit"],
button[type="button"] {
	padding: 7px 7px;
	font-size: 1em;
}
.button:hover {
	background: #ccc;
}
.button.blue {
	color: #fff;
	background: #3498db;
	border-color: #2980b9;
}
.button.blue:hover {
	background: #2980b9;
}
.button.green {
	color: #fff;
	background: #2ecc71;
	border-color: #27ae60;
}
.button.green:hover {
	background: #27ae60;
}
.button.yellow {
	color: #fff;
	background: #f1c40f;
	border-color: #f39c12;
}
.button.yellow:hover {
	background: #f39c12;
}
.button.red {
	color: #fff;
	background: #e74c3c;
	border-color: #c0392b;
}
.button.red:hover {
	background: #c0392b;
}

/* Code */
code {
	font-family:courier new,courier,monospace;
	border: #eee solid 1px;
	border-left: #999 solid 3px;
	background: #f8f8f8;
	padding: 10px 7px;
	margin: 15px 0;
	display: block;
}

/* Form */
form {
	display: block;
}
input {
	color: #444;
	padding: 10px 15px;
	margin-bottom: 10px;
	background: #fdfdfd;
	border: #e1edf3 solid 1px;
	border-radius: 2px;
	display: block;
	width: 100%;
	outline: 0;
}
label {
	display: block;
	padding: 10px 0;
}

/* Radio & Checkbox */
input[type="radio"],
input[type="checkbox"] {
  display:none;
}
input[type="radio"] + span:before,
input[type="checkbox"] + span:before {
  font-family: 'FontAwesome';
  padding-right: 3px;
  font-size: 20px;
}
input[type="radio"] + span:before {
  content: "\f10c"; /* circle-blank */
}
input[type="radio"]:checked + span:before {
  content: "\f111"; /* circle */
}
input[type="checkbox"] + span:before {
  content: "\f096"; /* check-empty */
}
input[type="checkbox"]:checked + span:before {
  content: "\f14a"; /* check */
}
