/***********************************************************
* Author:		Maurice Preuß                              *
* License:		All rights reserved                        *
* Copyright:	2014                                       *
* Webseite:		http://codingdev.de                        *
* GitHub:		https://github.com/CodingDev/CSSFramework  *
***********************************************************/

/***********************************************************
* Import                                                    *
***********************************************************/
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(video-js.css);
/***********************************************************
* Main                                                     *
***********************************************************/
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'open sans', 'sans-serif';
	font-size: 1em;
	color: #555;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 15px;
	margin-top: 25px;
	color: #333;
}
a {
	color: #3498db;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 10px 0;
}
small {
	color: #999;
	font-size: 50%;
}
/***********************************************************
* Header                                                   *
***********************************************************/
.header {
	border-bottom: #eee solid 1px;
	margin-bottom: 15px;
}

/***********************************************************
* Container                                                *
***********************************************************/
.container {
	margin: 15px auto;
	width: 80%;
}
@media (max-width: 768px) {
	.container {
		width: 98%;
	}
}
/***********************************************************
* Grid                                                     *
***********************************************************/
.grid:before,
.grid:after {
	display: table;
	content: "";
}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
	float: left;
	margin-bottom: 15px;
}
.grid-12 {
	width: 100%;
}
.grid-11 {
	width: 91.66666667%;
}
.grid-10 {
	width: 83.33333333%;
}
.grid-9 {
	width: 75%;
}
.grid-8 {
	width: 66.66666667%;
}
.grid-7 {
	width: 58.33333333%;
}
.grid-6 {
	width: 50%;
}
.grid-5 {
	width: 41.66666667%;
}
.grid-4 {
	width: 33.33333333%;
}
.grid-3 {
	width: 25%;
}
.grid-2 {
	width: 16.66666667%;
}
.grid-1 {
	width: 8.33333333%;
}
/***********************************************************
* Button                                                   *
***********************************************************/
.button {
	color: #fff;
	padding: 5px 15px 3px 15px;
	margin-bottom: 10px;
	background: #555555;
	border: none;
	border-bottom: #000000 solid 3px;
	border-radius: 2px;
	font-size: 1em;
	cursor: pointer;
	font-weight: 300;
}
input[type="submit"],
input[type="button"],
button[type="submit"],
button[type="button"] {
	padding: 7px 15px 5px 15px;
	font-size: 1em;
}
.button:hover {
	background: #000000;
	text-decoration: none;
}
.button.blue {
	color: #fff;
	background: #00b4ff;
	border-color: #008cc6;
}
.button.blue:hover {
	background: #008cc6;
}
.button.green {
	color: #fff;
	background: #0ec281;
	border-color: #0a9764;
}
.button.green:hover {
	background: #0a9764;
}
.button.yellow {
	color: #fff;
	background: #ffa800;
	border-color: #cc8600;
}
.button.yellow:hover {
	background: #cc8600;
}
.button.red {
	color: #fff;
	background: #fc000b;
	border-color: #bf0008;
}
.button.red:hover {
	background: #bf0008;
}
/***********************************************************
* Alert                                                    *
***********************************************************/
.alert {
	color: #fff;
	padding: 5px 15px 5px 15px;
	margin-bottom: 10px;
	background: #555555;
	border: none;
	border-left: #000000 solid 3px;
	border-radius: 2px;
	font-size: 1em;
	font-weight: 300;
}
.alert.blue {
	color: #fff;
	background: #00b4ff;
	border-color: #008cc6;
}
.alert.green {
	color: #fff;
	background: #0ec281;
	border-color: #0a9764;
}
.alert.yellow {
	color: #fff;
	background: #ffa800;
	border-color: #cc8600;
}
.alert.red {
	color: #fff;
	background: #fc000b;
	border-color: #bf0008;
}
/***********************************************************
* Code                                                     *
***********************************************************/
code {
	font-family:courier new,courier,monospace;
	border: #eee solid 1px;
	border-left: #999 solid 3px;
	background: #f8f8f8;
	padding: 10px 7px;
	margin: 15px 0;
	display: block;
}
/***********************************************************
* Form                                                     *
***********************************************************/
.form {
	display: block;
	width: 100%;
}
.input {
	color: #444;
	padding: 10px 15px;
	margin-bottom: 10px;
	background: #fdfdfd;
	border: #e1edf3 solid 1px;
	border-radius: 2px;
	display: block;
	width: 100%;
	outline: 0;
	box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.checkbox, 
.radio {
	display: block;
	padding: 10px 0;
}
.radio > input[type="radio"],
.checkbox > input[type="checkbox"] {
	display:none;
}
.radio > input[type="radio"] + span:before,
.checkbox > input[type="checkbox"] + span:before {
	font-family: 'FontAwesome';
	padding-right: 3px;
	font-size: 20px;
}
.radio > input[type="radio"] + span:before {
	content: "\f10c"; /* circle-blank */
}
.radio > input[type="radio"]:checked + span:before {
	content: "\f111"; /* circle */
}
.checkbox > input[type="checkbox"] + span:before {
	content: "\f096"; /* check-empty */
}
.checkbox > input[type="checkbox"]:checked + span:before {
	content: "\f14a"; /* check */
}
/***********************************************************
* Sourcecode                                               *
***********************************************************/
.sourcecode {
	display: none;
}
/***********************************************************
* Table                                                    *
***********************************************************/
.table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.table th {
	text-align: left;
}

.table thead tr td, .table thead tr th {
	padding: 10px 10px;
	border-bottom: #eee solid 3px;
}
.table td, .table th {
	padding: 10px 10px;
	border-top: #eee solid 1px;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
	border-top: 0;
}